.form-submit {
    display: block;
    width: 100px;
    margin: 10px auto 0 auto;
}

.form-group:hover .fa {
    transition: .1s;
    color: #95ED78;
}
#check-status-link {
    opacity: .75;
}
#check-status-link:hover {
    opacity: 1;
}