#status-form {
    display: block;
}

#ticket-box {
    margin: 10px -8%;
    font-size: 12px;
    font-family: helvetica, serif;
}
#ticket{
    display: flex;
}
#ticket:nth-child(odd){
    background-color: #dffcd0;
}
.ticket-sub-container-id {
    width: 60px;
    padding: 5px;
    text-align: center;
}
.ticket-sub-container-date {
    width: 35%;
    padding: 5px;
    max-width: 180px;
}
.ticket-sub-container-note {
    width: 50%;
    padding: 5px;
}

.green-text {
    color: #096D00;
}