@import url('https://maxcdn.bootstrapcdn.com/font-awesome/4.6.3/css/font-awesome.min.css');
@import url('https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css');
@import url('https://fonts.googleapis.com/css?family=Lato');

a {
    color: inherit;
    text-decoration: inherit;
}
input {
    display: block;
    margin: 10px auto;
}

body {
    height: 100%;
}

/*inputs / forms */
.hm-logo {
    height: 50px;
}
.hm-input {
    width: 90%;
    border-radius: 5px;
    margin: 10px auto;
    border: 1px solid #273135;
    padding: 4px;
    outline: none;
    font-size: 16px;
    text-align: center;
}
.hm-input:hover {
    transition: .2s;
    border: 1px solid #6dcab7;
}
.hm-input:focus {
    transition: .2;
    border: 1px solid #6dcab7;
}


/*Containers*/
#hm-navbar {
    position: fixed;
    z-index: 5;
    background-color: white;
    width: 100%; height: 50px;
    border-bottom: 1px solid rgba(0,0,0,.2);
}
.hm-container {
    padding: 60px 7%;
    width: 100%;
    min-height: 100vh;
    height: 100%;
    margin: 0 auto;
}
.form-container {
    width: 250px;
    margin: 20px auto;
    text-align: center;
}
.footer-container {
    width: 100%; min-height: 120px;
    background-color: #273135;
    color: white;
}
#home-text-container {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}



/*Button Styling*/
.hm-btn {
    padding: 5px 8px;
    border-radius: 5px;
    background-color: #6dcab7;
    cursor: pointer;
    transition: background-color .2s;
    display: block;
    margin: 0 auto;
    color: white;
    border: none;
}
.hm-btn:hover {
    background-color: #7cd5ba;
    color: white;
}
#hm-home-btn {
    position: absolute;
    left: 10px; top: 10px;
}
#hm-dashboard-btn {
    position: absolute;
    right: 10px; top: 10px;
}
#hm-track-ticket-btn {
    position: absolute;
    left: 50px; top: 10px;
}
#hm-new-ticket-btn {
    position: absolute;
    left: 150px; top: 10px;
    color: white;
}
#signup-btn {
    margin: 25px auto;
    padding: 10px 24px;
    background-color: #de5939;
    font-size: 32px;
}
#signup-btn:hover {
    background-color: #fa7252;
}







.error-flash {
    text-align: center;
    font-weight: bold;
    margin-top: 15px;
}
.home-big-text {
    font-size: 8vw;
    text-align: center;
}
.home-medium-text {
    font-size: 4vw;
    text-align: center;
}
@media only screen and (min-width: 1200px) {
    .home-big-text {
        font-size: 6vw;
    }
}


