@import url('https://maxcdn.bootstrapcdn.com/font-awesome/4.6.3/css/font-awesome.min.css');
@import url('https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css');
@import url('https://fonts.googleapis.com/css?family=Lato');

a {
    color: inherit;
    text-decoration: inherit;
}
input {
    display: block;
    margin: 10px auto;
}

body {
    height: 100%;
    background-color: #273135;
}

/*inputs / forms */
.hm-logo {
    height: 50px;
}
.hm-input {
    width: 90%;
    border-radius: 5px;
    margin: 10px auto;
    border: 1px solid #273135;
    padding: 4px;
    outline: none;
    font-size: 16px;
    text-align: center;
}
.hm-input:hover {
    transition: .2s;
    border: 1px solid #6dcab7;
}
.hm-input:focus {
    transition: .2;
    border: 1px solid #6dcab7;
}


/*Containers*/
#hm-navbar {
    position: fixed;
    z-index: 5;
    background-color: #171d20;
    width: 100%; height: 80px;
}
.hm-container {
    padding: 90px 7%;
    width: 100%;
    min-height: 100vh;
    height: 100%;
    margin: 0 auto;
    background-color: white;
}
.form-container {
    width: 250px;
    margin: 20px auto;
    text-align: center;
}
.footer-container {
    width: 100%; min-height: 120px;
    background-color: #171d20;
    color: white;
}
#home-text-container {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}



/*Button Styling*/
.hm-btn {
    padding: 5px 15px;
    background-color: #171d20;
    cursor: pointer;
    transition: background-color .2s;
    display: block;
    margin: 0 auto;
    color: white;
    border: none;
    text-align: center;
}
.hm-btn:hover {
    background-color: #7cd5ba;
    color: white;
}
#signup-btn {
    background-color: #de5939;
}
#signup-btn:hover {
    background-color: #fa7252;
}
#topbar-logo {
    display: block;
    margin: 10px auto 0;
    width: 60px;
}
#topbar-logo-img {
    height: 60px;
}
#home-buttons-columns {
    text-align: center;
    margin-top: 25px;
}
.hm-btn-quad {
    padding: 10px 25px;
    background-color: #6dcab7;
    color: white;
    margin: 0 10px 10px 10px;
    border-radius: 5px;
    transition: .2s;
}
.hm-btn-quad:hover {
    background-color: #7cd5ba;
}





.error-flash {
    text-align: center;
    font-weight: bold;
    margin-top: 15px;
}
.home-big-text {
    font-size: 8vw;
    text-align: center;
}
.home-medium-text {
    font-size: 4vw;
    text-align: center;
}
@media only screen and (min-width: 768px) {
    #home-buttons-columns {
        -webkit-column-count: 2;
        -moz-column-count: 2;
        column-count: 2;
    }
}
@media only screen and (min-width: 1200px) {
    .home-big-text {
        font-size: 6vw;
    }
}


