
.popup {
    width: 280px;
    background-color: white;
    border-radius: 10px;
    border: 3px double #fa7252;
    position: fixed;
    top: 50%;
    margin-top: -200px;
    z-index: 9;
    left: 50%;
    margin-left: -140px;
    display: none;
    padding: 20px;
    box-shadow: 0 3px 6px rgba(0,0,0,.14), 0 3px 12px rgba(0,0,0,.28);
}
.card-link {
    cursor: pointer;
    color: #6dcab7;
    margin-left: 15px;

}
.card-link:hover {
    color: #7cd5ba;
}
.card-footer {
    width: 100%;
    margin: 30px 0 -10px;
    display: flex;
    justify-content: flex-end;
}


/*
Mobile First!
*/
#profile-box {
    position: fixed;
    background-color: #171d20;
    height: 80px; width: 100%;
    line-height: 80px;
    z-index: 10;
}
#avatar-circle-box {
    margin: 17px 0 0 20px;
    display: inline-block;
    float: left;
}
.avatar-circle {
    width: 45px; height: 45px; line-height: 45px;
    background-color: #a7f;
    border-radius: 50%;
    color: white;
    text-align: center;
    font-size: 16px;
    float: left;
    margin-right: 5px;
    font-weight: bold;
    cursor: pointer;
}
#profile-box-name {
    color: white;
    font-size: 20px;
    text-align: left;
    float: left;
}
#menu-btn-box {
    float: left;
}
.dash-top-btn {
    height: 80px;
    text-align: center;
    padding: 0 30px;
    float: right;
}




/*loader*/
#loader {
    border: 12px solid #e9f0f5;
    border-top: 12px solid #fa7252;
    border-radius: 50%;
    width: 80px;
    height: 80px;
    animation: spin 2s linear infinite;
    margin: 25vh auto;
    z-index: 10;
}
#loader-sm {
    border: 6px solid #e9f0f5;
    border-top: 6px solid #fa7252;
    border-radius: 50%;
    width: 30px;
    height: 30px;
    animation: spin 2s linear infinite;
    margin: 0 auto;
}
.loader-logo {
    position: absolute;
    border-radius: 50%;
    width: 80px;padding: 8px;
    top: 25vh; left: 50%;
    margin-left: -40px;
    z-index: -1;
}
@keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}





/*Nav Items*/
#admin-navbar {
    position: fixed;
    top: 80px;
    background-color: #273135;
    color: #fa7252;
    width: 200px; height: 100%;
    z-index: 10;
    left: -200px;
    transition: .3s;
}
.navbtn {
    padding: 20px;
    font-size: 18px;
}
.navbtn:hover {
    background-color: #171d20;
}
.activeNavbtn {
    background-color: #171d20;
    border-left: 5px solid #6dcab7;
    padding-left: 15px;
}
#dash-logo {
    width: 50px;
    margin: 0 auto;
    display: block;
}
#dash-logo-btn {
    padding: 20px;
    font-size: 18px;
}



#admin-content {
    position: absolute;
    top: 80px;
    width: 100%;
    padding: 10px;
    background-color: #e9f0f5;
    min-height: 100vh;
}



/*Cards*/
.card {
    padding: 10px;
    background-color: white;
    width: 100%;
    border-radius: 5px;
    text-align: center;
    margin: 0 10px 10px 0;
    overflow: hidden;
}
.small-card {
    padding: 10px;
    background-color: white;
    width: 300px;
    border-radius: 5px;
    text-align: center;
    margin: 0 auto;
    overflow: hidden;
}
.flex-card-half { /*full width on mobile, half on larger screens*/
    padding: 20px 5%;
    background-color: white;
    width: 100%;
    border-radius: 5px;
    margin: 0 10px 10px 0;
    overflow: hidden;
    vertical-align: top;
    position: relative;
}
.card-divider {
    height: 1px; width: 100%;
    background-color: rgba(0,0,0,.2);
    margin: 20px auto;
}
.hide-mobile {
    font-style: normal;
}



/*mobile sized screens*/
@media only screen and (max-width: 767px) {
    .hide-mobile {
        display: none;
    }
    .dash-top-btn {
        font-size: 22px;
    }
    #profile-box-name {
        display: none;
    }
    #avatar-circle-box {
        display: none;
    }
}
/*tablet sized screens*/
@media only screen and (min-width: 768px) {
    #admin-content {
        padding-left: 210px;
    }
    #admin-navbar {
        left: 0;
    }
    #menu-btn-box {
        display: none;
    }
    #profile-box-name {
        font-size: 14px;
    }

    .flex-card-half {
        width: 75%;
        margin: 10px auto;
    }
    .popup {
        margin-left: -40px;
    }
}

/*full sized monitors*/
@media only screen and (min-width: 1200px) {
    .masonry {
        column-count: 2;
    }
    .flex-card-half {
        width: 100%;
        display: inline-block;
    }
}