.ticket-wrapper:nth-child(even) {
    background-color: #b6e5db;
}

.sub-container {
    padding: 15px;
    overflow: hidden;
}

.c1 {
    text-align: left;
}

.ticket-assign {
    border: 1px solid #95ed78;
    font-size: 15px;
}
.ticket-notes {
    width: 100%;
    border: 1px solid #C5FdB8;
    margin-left: 7px;
    margin-right: 7px;
    padding: 7px;
    font-size: 18px;
}

.route-btn {
    background-color: tomato;
}
.complete-btn {
    background-color: #096D00;
}
.tk-btn {
    color: white;
    border-radius: 5px;
    width: 100px;
    padding-top: 3px;
    padding-bottom: 3px;
    font-size: 15px;
    text-align: center;
    margin: 5px auto;
    opacity: .7;
    -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none; /* Chrome/Safari/Opera */
    -khtml-user-select: none; /* Konqueror */
    -moz-user-select: none; /* Firefox */
    -ms-user-select: none; /* Internet Explorer/Edge */
    user-select: none; /* Non-prefixed version */
    cursor: pointer;
}
.tk-btn:hover {
    opacity: .85;
}
.tk-btn:active {
    opacity: 1;
}


@media only screen and (min-width: 768px) {

    .ticket-container {
        display: flex;
        font-size: 12px;
        margin: 0 auto;
    }

    .c1 {width: 25%;}
    .c2 {
        width: 60%;
        text-align: left;
    }
    .c3 {
        width: 15%;
        display: flex;
        flex-direction: column;
        justify-content: center;
    }
    .c4 {
        width: 85%;
        padding: 15px 5px;
        border-top: 1px solid rgba(5,5,5,0.5);
        margin: 4px auto;
        display: flex;
        flex-direction: row;
        justify-content: center;
    }
}