@import url('https://maxcdn.bootstrapcdn.com/font-awesome/4.6.3/css/font-awesome.min.css');
@import url('https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css');
@import url('https://fonts.googleapis.com/css?family=Lato');

body {
    margin: 0;
    font-family: 'Lato', sans-serif;
}
a {
    color: inherit;
    text-decoration: inherit;
}
input {
    display: block;
    margin: 10px auto;
}



/*inputs / forms */
.input {
    width: 90%;
    border-radius: 20px;
    border: 2px solid #273135;
    padding: 8px;
    outline: none;
    font-size: 16px;
    text-align: center;
}
.input:hover {
    transition: .3s;
    border: 2px solid #6dcab7;
}
.input:focus {
    transition: .3s;
    border: 2px solid #6dcab7;
}



/*Containers*/
#navbar {
    position; fixed;
    width: 100%; height: 50px;
    border-bottom: 1px solid rgba(0,0,0,.2);
}
.container {
    width: 90%;
    margin: 0 auto;
}
.form-container {
    width: 250px;
    margin: 20px auto;
    text-align: center;
}



/*Button Styling*/
.btn {
    padding: 5px 8px;
    border-radius: 5px;
    background-color: white;
    border: 2px solid #273135;
    cursor: pointer;
    transition: background-color .2s;
    display: block;
    margin: 0 auto;
}
.btn:hover {
    background-color: #cfe;
}
#home-btn {
    position: absolute;
    left: 10px; top: 8px;
}
#login-btn {
    position: absolute;
    right: 10px; top: 8px;
}

#signup-btn {
    position: absolute;
    color: white;
    background-color: #de5939;
    border: none;
    right: 70px; top: 10px;
}
#signup-btn:hover {
    background-color: #fa7252;
}